body {
  background-color: gray;
}

#todo {
  & form {
    position: absolute;
    bottom: 5rem;
    width: 92%;
  }
  & input {
    border-width: 1px;
    border-color: #999999;
    border-radius: 3px;
    padding: 0.5rem 0.8rem;
    margin-bottom:1rem;
    width: 100%;
  }
}
